<h2>
    Add a Movie
</h2>

<form action="/movies" method="post">
    <input type="text" name="title" placeholder="title">
    <br>
    <input type="text" name="year" placeholder="year">
    <br>
    <button>Add</button>
</form>